<div class="container--profile u-center">
  <div class="row logos row--with-border-top row--no-push">
    <a href="">
      <img class="logos__logo" src="<%= image_path('GEF_logo_x2.jpg') %>" alt="">
    </a>
    <a href="">
      <img class="logos__logo" src="<%= image_path('UNEP_WCMC_logo_x2.jpg') %>" alt="">
    </a>
    <a href="">
      <img class="logos__logo" src="<%= image_path('IUCN_logo_x2.jpg') %>" alt="">
    </a>
  </div>

  <div class="u-inline-block row logos row--with-border-top row--no-push">
    <div class="logos__half">
      <a href="">
        <img class="logos__logo logos__logo--smaller" src="<%= image_path('Togo_flag_x2.jpg') %>" alt="">
      </a>
      <a href="">
        <img class="logos__logo logos__logo--smaller" src="<%= image_path('Sierra_Leone_flag_x2.jpg') %>" alt="">
      </a>
      <a href="">
        <img class="logos__logo logos__logo--smaller" src="<%= image_path('Mali_flag_x2.jpg') %>" alt="">
      </a>
      <a href="">
        <img class="logos__logo logos__logo--smaller" src="<%= image_path('Gambia_flag_x2.jpg') %>" alt="">
      </a>
      <a href="">
        <img class="logos__logo logos__logo--smaller" src="<%= image_path('Chad_flag_x2.jpg') %>" alt="">
      </a>
    </div>
    <div class="logos__half">
      <a href="">
        <img class="logos__logo logos__logo--smaller" src="<%= image_path('GEF_logo_x2.jpg') %>" alt="">
      </a>
      <a href="">
        <img class="logos__logo logos__logo--smaller" src="<%= image_path('UNEP_WCMC_logo_x2.jpg') %>" alt="">
      </a>
      <a href="">
        <img class="logos__logo logos__logo--smaller" src="<%= image_path('IUCN_logo_x2.jpg') %>" alt="">
      </a>
    </div>
  </div>
</div>
