<div class="container--profile u-center">
  <div class="row logos row--with-border-top row--no-push">
    <a href="https://www.thegef.org/gef/">
      <img class="logos__logo" src="<%= image_path('GEF_logo_x2.jpg') %>" alt="">
    </a>
    <a href="http://www.unep-wcmc.org">
      <img class="logos__logo" src="<%= image_path('UNEP_WCMC_logo_x2.jpg') %>" alt="">
    </a>
    <a href="http://www.iucn.org/">
      <img class="logos__logo" src="<%= image_path('IUCN_logo_x2.jpg') %>" alt="">
    </a>
  </div>

  <div class="u-inline-block row logos row--with-border-top row--no-push">
    <div class="logos__half">
      <img class="logos__logo logos__logo--smaller" src="<%= image_path('Togo_flag_x2.jpg') %>" alt="">
      <img class="logos__logo logos__logo--smaller" src="<%= image_path('Sierra_Leone_flag_x2.jpg') %>" alt="">
      <img class="logos__logo logos__logo--smaller" src="<%= image_path('Mali_flag_x2.jpg') %>" alt="">
      <img class="logos__logo logos__logo--smaller" src="<%= image_path('Gambia_flag_x2.jpg') %>" alt="">
      <img class="logos__logo logos__logo--smaller" src="<%= image_path('Chad_flag_x2.jpg') %>" alt="">
    </div>
    <div class="logos__half">
      <a href="http://www.metoffice.gov.uk/">
        <img class="logos__logo logos__logo--smaller" src="<%= image_path('Met_Office_logo_x2.jpg') %>" alt="">
      </a>
      <a href="http://www.birdlife.org/">
        <img class="logos__logo logos__logo--smaller" src="<%= image_path('BirdLife_logo_x2.jpg') %>" alt="">
      </a>
      <a href="https://www.dur.ac.uk/">
        <img class="logos__logo logos__logo--smaller" src="<%= image_path('Durham_University_logo_x2.jpg') %>" alt="">
      </a>
      <a href="http://www.kent.ac.uk/dice/">
        <img class="logos__logo logos__logo--smaller" src="<%= image_path('DICE_University_of_Kent_logo_x2.jpg') %>" alt="">
      </a>
    </div>
  </div>
</div>
