<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'parcc', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header class="navbar">
      <div class="navbar__element navbar__element--bigger">
        <%= link_to "protected planet", protected_planet_path(:root), class: 'protectedplanet-logo' %>
      </div>

      <% unless params[:for_pdf] %>
        <div class="navbar__element navbar__element--right"><%= link_to 'About',  protected_planet_path(:about) %></div>
        <div class="navbar__element navbar__element--right"><%= link_to 'Updates & News', '#' %></div>
        <div class="navbar__element js-navbar-actionable navbar__element--right">
          <a href="<%= protected_planet_path(:resources) %>">
            Resources <i class="fa fa-chevron-down"></i>
          </a>
        </div>
        <div class="navbar__element navbar__element--right"><%= link_to 'Terms & Conditions', protected_planet_path(:terms) %></div>
        <div class="u-relative navbar__element js-navbar-actionable navbar__element--right">
          <button class="js-thematic-areas-dd-trigger">
            Thematic Areas <i class="fa fa-chevron-down"></i>
          </button>

          <div class="u-hide js-thematic-areas-dd-target dropdown">
            <div class="dropdown__inner">
              <a class="dropdown__element" href="http://wcmc.io/WDPA_Manual">WDPA</a>
              <a class="dropdown__element" href="http://www.parcc-web.org/">PARCC</a>
              <a class="dropdown__element" href="http://www.iccaregistry.org">ICCA</a>
              <a class="dropdown__element" href="http://wcmc.io/pame-report">PAME</a>
            </div>
          </div>
        </div>

        <div class="<%= bem("navbar__element", "with-separator", "right", "bold") %>">
          <a href="<%= protected_planet_path(:root) %>" class="link-with-icon link-with-icon--no-color"> <i class="fa fa-search"></i> Search</a>
        </div>
      <% end %>
    </header>

    <%= yield %>
  </div>

  <footer>
    <div class="parcc-footer">
      <ul class="footer-logos">
        <li class="parcc-footer-logo">
          <a href="http://parcc-web.org" title="PARCC Website"></a>
        </li>
        <li class="gef-footer-logo">
          <a href="http://thegef.org" title="GEF Website"></a>
        </li>
        <li class="footer-copyright">
          <p>This dashboard was developed within the framework of the PARCC project with the financial support of the GEF</p>
        </li>
      </ul>
    </div>
    <div class='main-footer'>
      <ul class="footer-logos">
        <li class="wcmc-footer-logo">
          <a href="http://unep-wcmc.org" title="UNEP-WCMC Website"></a>
        </li>
        <li class="iucn-footer-logo">
          <a href="http://iucn.org" title="IUCN Website"></a>
        </li>
        <li class="footer-copyright">
          <p>&copy; ProtectedPlanet 2014-2015. All rights reserved</p>
        </li>
      </ul>

      <ul class="footer-links">
        <li><%= link_to 'About', protected_planet_path(:about) %></li>
        <li><%= link_to 'Terms of Use', protected_planet_path(:terms) %></li>
        <li class="uservoice"><a href="mailto:protectedareas@unep-wcmc.org" data-uv-trigger>Send Feedback</a></li>
      </ul>
    </div>
  </footer>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, async: true %>

  <% if Rails.env.production? %>
    <%= render "shared/google_analytics" %>
  <% end %>
</body>
</html>
