<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag 'parcc', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
</head>
<body>
  <div class="container">
    <%= render "layouts/application/header" %>
    <%= yield %>
    <%= render "layouts/application/logos" %>
  </div>
  <%= render "layouts/application/footer" %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if Rails.env.production? %>
    <%= render "shared/google_analytics" %>
  <% end %>
  <script>
    var $buoop = {c:2};
    function $buo_f(){
     var e = document.createElement("script");
     e.src = "//browser-update.org/update.min.js";
     document.body.appendChild(e);
    };
    try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
    catch(e){window.attachEvent("onload", $buo_f)}
  </script>

</body>
</html>
