<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag 'parcc', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render "layouts/application/header" %>
    <%= yield %>
    <%= render "layouts/application/logos" %>
  </div>
  <%= render "layouts/application/footer" %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if Rails.env.production? %>
    <%= render "shared/google_analytics" %>
  <% end %>
</body>
</html>
